@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');


html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(22, 22, 23, 0.8);
  border-radius: 1px;
}
::-webkit-scrollbar-track{
  background-color: #fafafa;
}
html, body{
  height: 100%;
}
body{
  margin: 0;
  background-color: $bg-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: $black-color;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: inherit;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}
ul{
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.basket-icon{
  fill: orange;
}
#app{
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header{

}
main{
  flex-grow: 1;
  margin: auto 15px;
}