$bg-color: #f9f9f9;
$black-color: #1d1d1f;
$silver-color: #1d1d1f;
$blue-color: #0066cc;
$light-blue-color: #0071e3;
$globalnav-color: #333336;
$globalnav-color-hover: #000000;
$orange-color: #ff5a00;
